<% provide(:title, "Introduction") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h2>About me</h2>
    <div>now, i'll introduc myself.</div>
  </body>
</html>


