<footer>
  <div class="footer_menu">
    <a href="index.html">ホー厶</a>｜
    <a href="introduce.html">紹介</a>｜
    <a href="contact.html">お問い合わせ</a>
  </div>
  <div class="copyright">Copyright &copy; Ayanna Rights Reserved</div>
</footer>
