<footer>
  <div class="footer_menu">
    <a href="index.html">ホー厶</a>｜
    <a href="introduce.html">会所</a>｜
    <a href="contact.html">お問いわ</a>
  </div>
  <div class="copyright">Copyright &copy; Ayanna Rights Reserved</div>
</footer>
