<header>
  <div class="line_top"></div>
  <h1><a href="index.html"><%= image_tag("img01.jpg", alt: "MINH THAO", height: '88') %></a></h1>
  <div class="text_header">
    <p>私はミンタオです。</p>
    <p>My name's Minh Thao.</p>
    <p>Tên tôi là Minh Thảo.</p>    
  </div>
  <div class="info_header">
    <div class="info_other shadow2">
      <div class="text_info">
        <div class="item">Skype: ayanna91thao</div>
        <div class="item last_item">Email: minhthaon2@gmail.com</div>
      </div>
    </div>
    <div class="phone"><a href="tel:0932185475">0932-185-475</a></div>
  </div>
</header>
