<div class="col_right">
  <div class="nav_top">
    <div class="item"><a class="active" href="index.html">ホー厶</a></div>
    <div class="item"><a href="introduce.html">紹介</a></div>
    <div class="item last_bottom"><a href="contact.html">お問い合わせ</a></div>
  </div>
</div>
