<div class="colRight">
  <div id="nav" class="navtop">
    <div class="item"><a class="active" href="index.html">ホー厶</a></div>
    <div class="item"><a href="introduce.html">会所</a></div>
    <div class="item lastBottom"><a href="contact.html">お問い合わせ</a></div>
  </div>
</div>
