// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
footer {
  width: 100%;
  clear: both;
  background: #f0efef;
  margin-top: 30px;
  text-align: center;
}
