// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
   *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML += '<div class="ie7-clear"></div>' );
}

.ie7-clear {
    display: block;
    clear: both;
}

header {
  height: auto;
  padding-bottom:10px;
  position: relative;
  box-shadow: 0px -5px 10px rgba(0,0,0,0.15) inset;
}

.line_top {
  width: 100%;
  height: 10px;
  background-color: #0099cc;
  box-shadow: 0px -5px 5px rgba(0,0,0,0.2) inset;
}

header h1 {
  padding-top:19px;
  font-weight: normal;
  font-size:12px;
  color: #F7F7F7;
  float:left;
  margin-right:25px;
}
  
header a:hover {
  opacity: 0.6;
}

.text_header {
  margin-top: 45px;
  font-size: 14px;
  float: left;
  margin-left: 10px;
  color: #00bfff;
}

.info_header {
  float: right;
  width:280px;
  margin-top:20px;
}

.phone {
  padding:6px 0 6px 75px;
  margin-bottom:5px;
  text-align:left;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(255,255,255,1);
  background: url('/assets/icon_phones.png') 15px 0px no-repeat;
}

.phone a {
  font-family:Arial, Helvetica, sans-serif;
  color: #666;
  text-decoration:none;
}

.phone a:hover {
  color:#0065b0;
}

.text_info {
  padding: 8px 15px 7px !important;
  text-align: center;
  background:#0099cc;
  margin-bottom:10px;
  border-radius:15px;
}

.text_info .item {
  font-size:12px;
  margin-bottom:7px;
  color:#fff;
}

.shadow2  {
  border-radius: 15px;
}
